body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Основной стиль страницы администратора */
.create-student-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}


.create-student-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Подзаголовок */
.create-student-form h2 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.create-student_inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}


/* Фокус на поле ввода */
.create-student_input:focus,
.create-student_select:focus {
    border-color: #007bff;
    outline: none;
}

/* Кнопка */
.create-student-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}



.create-student_inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.create-student_input,
.create-student_select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 100%;
    max-width: 500px;
}

/* Кнопка */
.create-student button {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.create-student-form button:hover {
    background-color: #0056b3;
}
