/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

/* Контейнеры */
.home_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

/* Основной контент */
.home_content {
    margin-top: 1280px;
}

/* Поиск */
.home_search {
    text-align: center;
    background-color: #ffffff;

}

.home_search h2 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.home_search p {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}


/* Категории */
.home_universities,
.how-work-section {
    background-color: #ffffff;
    border-radius: 10px;
}

.howWorkInfo {
    width: 100%;
}

.home_universities {
    text-align: center;
    padding: 40px 20px 80px;
    background-color: #f9f9f9;
}

.how-work-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.home_universities h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: start;
    margin-left: 210px;
    width: 302px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    color: #18191C;
}

.home_university_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.home_university_item {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
    width: 318px;
}

.university_logo {
    width: 70px;
    height: 70px;
    margin-right: 16px;
    object-fit: contain;
}

.company_logo {
    width: 70px;
    height: 70px;
    margin-right: 16px;
    object-fit: contain;
    fill: white;
}

.candidate_logo {
    width: 70px;
    height: 70px;
    margin-right: 16px;
    object-fit: contain;
}

.home_university_item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: start;
}

.item_container {
    display: flex;
    align-items: start;
    text-align: start;
    margin: 15px;
}

.location_container {
    display: flex;
    flex-direction: column;
}

.university_location {
    font-size: 0.9rem;
    color: #777;
    display: flex;
    justify-content: center;
    margin: 0;
}

.location_icon {
    width: 16px;
    height: 19px;
    background: url('../resources/location-icon.svg') no-repeat center center;
    display: inline-block;
    margin-right: 5px;
}

.location_name {
    margin-top: 2px;
}

.profile_button {
    background: #E7F0FA;
    border: none;
    padding: 12px 24px;
    border-radius: 3px;
    color: #0A65CC;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 15px;
    gap: 12px;
    width: 248px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile_button_text {
    width: 96px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-transform: capitalize;

    /* Gray/White */
    color: #0A65CC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile_button:hover {
    background: #0A65CC;
    transition: 0.3s;
}

.profile_button:hover .profile_button_text {
    color: #fff;
}

.home_university_item:hover {
    border: 1px solid #007bff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Респонсивность */
@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    .home_content {
        margin-top: 200px; /* Уменьшаем отступы для планшетов */
    }
    .home_category_grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Больше колонок на планшетах */
    }
}

@media (max-width: 768px) {
    .home_content {
        padding: 10px;
    }
    .header_nav {
        flex-direction: column;
        gap: 10px;
    }
    .header_auth {
        flex-direction: column;
        gap: 5px;
    }
    .home_category_grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .header_profile_modal {
        width: 90%;
    }
}














/* Хедер */
.common_header {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 10;
}

.header_logo_text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}

.header_logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.header_logo_container {
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.header_nav {
    display: flex;
    gap: 50px;

}

.header_nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}



.header_nav a:hover {
    color: #007bff;
}

.header_nav a.active {
    color: #007bff;
}

.header_auth {
    display: flex;
    gap: 10px;
    margin-right: 140px;
}




.header_sign_in {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #007bff;
    transition: all 0.3s ease;
}


.header_sign_in:hover{
    opacity: 0.8;
}


/* Профиль */
.header_profile_icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.header_profile_icon:hover {
    transform: scale(1.1);
}


/* Стили модального окна */
.header_profile_modal {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header_profile_modal_button {
    width: 100%;
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header_profile_modal_logout_button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    color: #fff;
}

.header_profile_modal_button:hover,
.header_profile_modal_logout_button:hover {
    opacity: 0.8;
}




.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.steps-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mainInfo {
    width: 100%;
    margin: auto;
}

.step {
    max-width: 300px;
    text-align: center;
}

.step .icon {
    font-size: 30px;
    color: #007bff;
    margin-bottom: 15px;
}

.step h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.step p {
    font-size: 14px;
    color: #666;
}


/*FOOTER*/

.home_footer {
    background-color: #18191C;
    color: #fff;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.footer_section {
    margin: 20px;
    padding: 0 100px;
}

.footer_location_name {
    width: 220px;
}

.footer_section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 0;
    color: #ccc;
    width: 100px;
}

.footer_section p,
.footer_section li {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.footer_section ul {
    list-style: none;
    padding: 0;
}

.footer_section p {
    color: #767F8C;
}
.footer_section p strong {
    color: #fff;
}

.footer_section li a {
    text-decoration: none;
    color: #767F8C;
    transition: color 0.3s;
}

.footer_section li a:hover {
    color: #fff;
}

.footer_logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer_logo_icon {
    background: url('../resources/logo.svg') no-repeat center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 20px;
}

.footer_bottom p {
    color: #767F8C;
}

.social_icons a {
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.social_icons a:hover {
    color: #0A65CC;
}


/*COUNT CONTAINER*/

.count_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 30px 40px 80px;
}

.count_item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.count_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.icon_container {
    background-color: #e8f3ff;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_container i {
    font-size: 24px;
    color: #007bff;
}

.count_info h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #18191c;
    text-align: left;
}

.count_info p {
    font-size: 0.9rem;
    color: #6c757d;
}
